$tab-width: 5.5vh;
$tab-color: #ffffff;

$border-width: 3px;
$border-color: #aaa;

$border: $border-color solid $border-width;
$border-spacing: 2%;
$min-border: 5px;

#root {
    width: 100vw;
    height: 100vh;

	display: flex;
	flex-direction: column;

    overflow: hidden;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.smallborder-horizontal {
    width: 100%;
    height: $border-width;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
		box-sizing: border-box;
		border-bottom: $border;
        width: calc(100% - $border-spacing * 2);
        height: 100%;
        // background-color: $border-color;
    }
}

.smallborder-vertical {
    width: $border-width;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
        width: 100%;
        height: calc(100% - $border-spacing * 2);
        background-color: $border-color;
    }

    height: 100%;
}

.container-horizontal {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

	flex: 1;
}

#tab-container {
	flex: 1;
	width: 100%;
}

.raw-content-container {
	display: flex;
	// flex-direction: column;

    position: relative;
	flex: 1;

    overflow: hidden;
}

.bar {
    width: 100%;
    height: $tab-width;

    display: flex;
}

.iconbuttongroup {
    display: flex;
    align-items: center;
}

.bar-item-container {
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
}

.iconbutton {

    background-color: #d6d6d6;

    // justify-self: right;
    

    height: 70%;
    aspect-ratio: 1;

    grid-row: 1;
    display: flex;

    // filter: opacity(25%);

    cursor: pointer;

    $border-radius: 25%;

    & .icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        width: 100%;
        height: 100%;

        filter: invert(50%);
    }

    &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &:hover {
        background-color: darken($color: #d6d6d6, $amount: 5%);
        & .icon{
            filter: invert(70%);
        }
    }

    &.selected 
    {
        background-color: darken($color: #d6d6d6, $amount: 10%);
        & .icon{
            filter: invert(100%);
        }
    }
}

#sidebar {
    height: 100%;
    width: 15vw;
}

#minisidebar {
    height: 100%;
    width: 3.5vw;
}

#tab-container {
	flex: 1;
}