@use "./colors.scss" as *;

$tab-width: 5.5vh;
$tab-color: #ffffff;

$border-width: 2px;

$border: $border-color solid $border-width;
$border-spacing: 2%;
$min-border: 5px;
$item-height: 3.5vh;

#root {
    width: 100vw;
    height: 100vh;

	display: flex;
	flex-direction: column;

    overflow: hidden;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;

    font-family: $font-family;
    color: $font-color;
}

.smallborder-horizontal {
    width: 100%;
    height: $border-width;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
		box-sizing: border-box;
		border-bottom: $border;
        width: calc(100% - $border-spacing * 2);
        height: 100%;
        // background-color: $border-color;
    }
}

.smallborder-vertical {
    width: $border-width;

    display: flex;
    align-items: center;
    justify-content: center;

    & div {
        width: 100%;
        height: calc(100% - $border-spacing * 2);
        background-color: $border-color;
    }

    height: 100%;
}

@mixin flex-container {
    display: flex;

    width: 100%;
    height: 100%;

	flex: 1;
}

.h-container{
    @include flex-container();
    flex-direction: row;
}

.v-container {
    @include flex-container();
    flex-direction: column;
}

#tab-container {
	flex: 1;
	width: 100%;
}

.raw-content-container {
	display: flex;
	// flex-direction: column;

    position: relative;
	flex: 1;

    overflow: hidden;
}

.bar {
    width: 100%;
    height: $tab-width;
    min-height: $tab-width;

    display: flex;

    background-color: $secondary-color;
}

.iconbuttongroup {
    display: flex;
    
    align-items: center;
}

.bar-item-container {
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
}

.iconbutton {

    // background-color: #d6d6d6;

    // justify-self: right;
    

    height: 70%;
    aspect-ratio: 1;

    grid-row: 1;
    display: flex;

    // filter: opacity(25%);

    cursor: pointer;

    $border-radius: 25%;

    & .icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        width: 100%;
        height: 100%;

        filter: invert(70%);
    }

    &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &:hover {
        // background-color: darken($color: $primary-color, $amount: 5%);
        & .icon{
            filter: invert(60%);
        }
    }

    &.selected 
    {
        // background-color: darken($color: $primary-color, $amount: 10%);
        & .icon{
            filter: invert(50%);
        }
    }
}

#tab-container {
	flex: 1;
}

.item-container {
    display: flex;
    position: relative;
    // flex: 1;
}

@mixin content-list {
    width: 15vw;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
}

.ContentList {
    @include content-list()
}

.ContentListDropDown {
    @include content-list();
    position: absolute;
    border: $border;
}

.h-border {
    width: 100%;
    height: 0px;
    background-color: $border-color;
    border-bottom: $border;
}

.v-border {
    height: 100%;
    width: 0px;
    background-color: $border-color;

    border-right: $border;
}

.ContentListItemHeader {
    height: $item-height;
    max-width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 1em;

    backdrop-filter: brightness(120%);
    font-weight: bold;

    font-size: 110%;

    border-bottom: $border;

    & .iconbuttongroup {
        position: absolute;
        height: 100%;
        right: 1em;
    }
}

.ContentListItemButton {
    height: $item-height;
    width: calc(100% - 1em);
    display: flex;
    align-items: center;
    // justify-content: center;
    padding-left: 1em;
    // overflow: hidden;

    &:hover {
        backdrop-filter: brightness(200%);
    }

    &.selected {
        filter: brightness(150%);
    }

    & .text {
        width: 100%;
        min-width: 0;
        overflow: hidden;
        display: block;

        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@mixin ContentListItemTextInput {
    height: $item-height;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;

    $margin: .5em;

    & .label {
        margin-left: $margin;
        width: calc(100% - $margin);
        text-overflow: ellipsis;
        min-width: 0px;
        overflow: hidden;
    }

    & .input {
        text-overflow: ellipsis;
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;
        margin-left: $margin;

        width: calc(100% - $margin);

        padding: none;
        color: $font-color;
        font-family: $font-family;

        &.no-edit {
            color: darken($font-color, 15%);
            user-select: none;
        }
    }
}

.ContentListItemStringInput {
    @include ContentListItemTextInput
}

.ContentListItemNumberInput {
    @include ContentListItemTextInput
}

.ContentListItemVectorInput {
    & .label-container {
        @include ContentListItemTextInput
    }

    & .number-container {
        & .container {
            // margin-left: 1em;
            @include ContentListItemTextInput
        }

        display: none;

        &.selected {
            display: block;
        }

    }
}

@mixin item-part {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center
    
}

.expand-button {
    height: 50%;
    aspect-ratio: 1;
    margin-left: .25em;
    background-image: url("../imgs/run.png");
    filter: invert(70%);

    background-position: center;
    background-size: contain;

    rotate: 0deg;

    &.selected {
        rotate: 90deg;
    }
}

.left-item {
    @include item-part;
    left: 0%;
    width: calc(40% - $border-width/2);
    border-right: $border;
}

.right-item {
    @include item-part;
    width: calc(60% - $border-width/2);
    right: 0%;
}

.ContentListBigRedButton
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc($item-height * 1.5);
    max-width: 100%;

    $button-padding: 2.2vh;
    
    cursor: pointer;

    .button {
        width: calc(100% - $button-padding*3);
        height: calc(100% - $button-padding);
        border: #ca5e5e solid $border-width;
        text-align: center;
        color: #ca5e5e;

        border-radius: 1vh;
        
        display: flex;
        align-items: center;
        justify-content: center;

        // &:active {
        //     font-size: 1;
        // }
    }
}