$primary-color: #242936;
$secondary-color: #192229;
$side-bar-color: #1f2430;
$border-color: #171b24; 
$line-color: rgb(86, 116, 138);
$select-border-color: #ea9431;
$font-family: monospace;
$font-color: #707a80;