@use "./bars.scss" as *;
@use "./colors.scss" as *;

body {
    background-color: $primary-color;
}

#top-bar {
    border-bottom: $border;
    height: calc($tab-width * 1.5);
    position: relative;
}

#top-bar-title {
    position: absolute;
    left: 1.5em;

    font-size: 3vh;

    top: 50%;
    translate: 0% -50%;
}