@use "./bars.scss" as *;

.scene-canvas {
    // position: absolute;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

#drawcanvas {
    // flex: 1;
    position: absolute;
    aspect-ratio: 1;
    height: 50%;
    right: 0%;
    bottom: 0%;

    border: #aaa solid 3px;
}